body {
  font-family: sans-serif;
}

header {
  padding: 1em;
  font-size: 1.5em;
}

#title {
  display: inline-block;
}

nav {
  float: right;
}

main {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

table {
  width:100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #000;
}

th, td {
  padding: .5em;
}

tr {
  border-bottom: 1px solid #333;
}
