<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>New Character</title>
</head>
<body>
  <header>
    <nav>
      <a href='{% url "sheets:index" %}'>Back</a>
      <a href='{% url "login:logout" %}'>Logout</a>
    </nav>
  </header>
  <form action='{% url "sheets:create" %}' method='post'>
    {% csrf_token %}
    <input type='text' name='user' value='{{request.session.id}}' hidden/>
    {{form.as_p}}
    <input type='submit' value='create'/>
  </form>
</body>
</html>
